<div class="welcome_message">
<h2>{{welcome_message}}</h2>
</div>
<main>
{{#all_wine}}
<a href="/wine/{{wine_id}}">
    <div class="wine">
        <img src="{{wine_image}}" />
        <div class="info">
            <strong>{{wine_name}}</strong>
            <p>{{wine_price}}</p>
        </div>
    </div>
</a>
{{/all_wine}}
</main>

