<div class="welcome_message">
<h2>{{wine_name}}</h2>
</div>
<section>
<a type="button" href="/">Home</a>
    <div class="wineInfo">
        <img src={{wine_image}} />
        <div class="info">
            <p>{{wine_about}}</p>
            <p>Producer: {{wine_producer}}</p>
            <p>Type: {{wine_type}}</p>
            <p>Region: {{wine_region}}</p>
            <p>Food Pairing: {{wine_food_pairing}}</p>
            <p class="price">{{wine_price}} : <a type="button" href="{{wine_link}}" target="_blank">BUY NOW</a></p>
        </div>
    </div>
</section>